/**
  Tampilan Jualan

*/
.catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5%;
}
.card-catalog {
  max-width: 150px;
  background-color:#DFF2EB;
  box-shadow: 0px 1px 4px black;
  text-align: center;
  width: 30%;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.25s;
  border-radius: 5px;
  color: hsl(218, 30%, 42%);
}
.card-catalog:hover{
  color: #DFF2EB;
  background-color:#4b638b;
  scale: 1.05;
}
.img-catalog {
  width: 100%;
}