.confirm-transaction{
    z-index: 20;
    /* background-color: red; */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation: ctr-show 1s;
}
@keyframes ctr-show {
    0%{transform: translateY(100vh);}
    100%{transform: translateY(0vh);}
}
.ctr-blur{
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(60%);
    
}
.ctr-content{
    padding: 10px 10px 0 10px;
    width: 40%;
    z-index: 21;
    background-color: #DFF2EB;
    box-shadow: 0 0 3px white;
    border-radius: 10px;
}

.ctr-header{
    display: flex;
}
.ctr-header .left{
    width: 80%;
}
.ctr-header .right{
    padding: 5px;
    width: 20%;
    /* background-color: red; */
    text-align: right;
}
.ctr-header .right button:hover{
    cursor: pointer;
}
.ctr-header .right button{
    border: none;
    font-size: 2rem;
    font-weight: bold;
    background: none;
}

.ctr-item{
    border-radius: 10px;
    display: flex;
    background-color: hsl(158, 42%, 81%);
    padding: 10px;
}
.ctr-item img{
    margin-right: 10px;
    width: 10%;
}

.ctr-detail table{
    margin-top: 10px;
    width: 100%;
    /* background-color: blue; */
}
.ctr-detail td{
    border-bottom: 1px solid hsl(158, 42%, 71%);
}

.ctr-footer{
    padding: 5px;
    border-top: 2px solid;
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10%;
    /* background-color: red; */
}
.ctr-footer .left{
    width: 60%;
    padding-left: 10px;
}
.ctr-footer .left h3{
    font-size: larger;
    color: purple;
    margin-top: 0;
}
.ctr-footer .left p{
    font-size: 0.8rem;
    margin-bottom: 0;
}
.ctr-footer .right{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.ctr-footer .right button:hover{
    cursor: pointer ;
    box-shadow: 0 0 3px black;
    background-color: hsl(218, 30%, 52%);
}
.ctr-footer .right button:active{
    background-color: hsl(218, 30%, 62%);
}
.ctr-footer .right button{
    font-size: 1.2rem;
    background-color: #4A628A;
    color: #DFF2EB  ;
    border: none;
    box-shadow: 0 2px 3px black;
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width:800px) {
    .ctr-content{
        width: 100vw;
    }
    .transaction{
        align-items: end;
    }
}